In [ ]:
import libs.db_connection
import time

start_time = time.time()

# Пример ETL процесса с промежуточными таблицами
sql1 = """

DO
$body$
BEGIN
   
truncate table task41_temp1;
insert into task41_temp1 select * from task41_source;

truncate table task41_temp2;
insert into task41_temp2 select * from task41_temp1;

truncate table task41_temp3;
insert into task41_temp3 select * from task41_temp2;

truncate table task41_result;
insert into task41_result select * from task41_temp3;

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# Меняем таблицы на unlogged

sql1 = """

DO
$body$
BEGIN
   
drop table task41_temp1;
drop table task41_temp2;
drop table task41_temp3;
drop table task41_result;

create unlogged table task41_temp1 (link2 int, doc varchar);
create unlogged table task41_temp2 (link3 int, doc varchar);
create unlogged table task41_temp3 (link4 int, doc varchar);
create unlogged table task41_result (link5 int, doc varchar);

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)

In [ ]:
# Проверяем полученный результат
start_time = time.time()
sql1 = """

DO
$body$
BEGIN
   
truncate table task41_temp1;
insert into task41_temp1 select * from task41_source;

truncate table task41_temp2;
insert into task41_temp2 select * from task41_temp1;

truncate table task41_temp3;
insert into task41_temp3 select * from task41_temp2;

truncate table task41_result;
insert into task41_result select * from task41_temp3;

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# Задание: пересоздайте временные таблицы на unlogged


start_time = time.time()

# Пример ETL процесса с промежуточными таблицами
sql1 = """

DO
$body$
BEGIN
   

truncate table task42_temp1;
insert into task42_temp1 select * from task42_source;

truncate table task42_temp2;
insert into task42_temp2 select * from task42_temp1;

truncate table task42_temp3;
insert into task42_temp3 select * from task42_temp2;

truncate table task43_result;
insert into task42_result select * from task42_temp3;

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# Меняем таблицы на unlogged

sql1 = """

DO
$body$
BEGIN
   

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)

In [ ]:
# Проверка результата

start_time = time.time()

# Пример ETL процесса с промежуточными таблицами
sql1 = """

DO
$body$
BEGIN
   

truncate table task42_temp1;
insert into task42_temp1 select * from task42_source;

truncate table task42_temp2;
insert into task42_temp2 select * from task42_temp1;

truncate table task42_temp3;
insert into task42_temp3 select * from task42_temp2;

truncate table task43_result;
insert into task42_result select * from task42_temp3;

END;   
$body$
LANGUAGE 'plpgsql'; 
"""

libs.db_connection.execute(sql1)
print("--- %s seconds ---" % (time.time() - start_time))